
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    line-height: 1.6;
}

a {
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

header img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    color: #5d5f79;
}


main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}


.img1 {
    flex: 2;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.img1 img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.bigtxt {
    flex: 1;
    padding-right: 30px;
}

.bigtxt h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.1;
    color: #000;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text p {
    color: #5d5f79;
    margin-bottom: 30px;
}

.text a {
    background-color: #f15e50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 15px 30px;
    display: inline-block;
    width: fit-content;
}









.articles article h2 {
    color: white;
    margin-bottom: 10px;
    font-size: 1.2rem;
}


.articles article p {
    color: #c5c6ce;
    font-size: 0.95rem;
}


.articles2 {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.articles2 article {
    flex: 1;
    display: flex;
    margin-right: 30px;
}



.articles2 img {
    width: 100px;
    height: 130px;
    object-fit: cover;
    margin-right: 20px;
}

.articles2 h2 {
    color: #aaa;
    font-size: 2rem;
    margin-bottom: 10px;
}

.articles2 h3 {
    color: #00001a;
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.articles2 p {
    color: #5d5f79;
    font-size: 0.95rem;
}
